<div class="table-responsive">
  <table class="table table-bordered table-hover mt-4">
      <thead>
          <tr>
              <th class="text-center col-2" scope="col">Nombre</th>
              <th class="text-center col-2" scope="col">Especie</th>
              <th class="text-center col-2" scope="col">Género</th>
              <th class="text-center col-2" scope="col">Casa</th>
              <th class="text-center col-2" scope="col">Magx?</th>
              <th class="text-center col-2" scope="col">Ascendencia</th>
              <th class="text-center col-2" scope="col">Estudiante?</th>
              <th class="text-center col-2" scope="col">Actor/Actriz</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of items; let i = index"
            [class]="itemSeleccionado === i ? 'table-info' : ''"
            (click)="seleccionarItem(i)"
            (blur)="limpiarItemSeleccionado()">
              <td class="text-center ">{{ item.name }}</td>
              <td class="text-center">{{ item.species }}</td>
              <td class="text-center">{{ item.gender }}</td>
              <td class="text-center">{{ item.house }}</td>
              <td class="text-center">{{ item.wizard }}</td>
              <td class="text-center">{{ item.ancestry }}</td>
              <td class="text-center">{{ item.hogwartsStudent }}</td>
              <td class="text-center">{{ item.actor }}</td>
          </tr>
      </tbody>
  </table>
</div>
