<div class="container">
  <div class="row">
    <div class="col">

      <div class="card mt-4 shadow mb-4">

        <div class="card-header d-flex flex-row align-items-center justify-content-between">
            Personajes HP
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-10 col-md-11">
              <app-tabla
                [items]="personajes"
                (seleccionarItemEvent)="seleccionarPersonaje($event)">
              </app-tabla>
            </div>
            <div class="col-2 col-md-1 align-self-center" style="text-align: center">
              <app-ordenador
                [items]="personajes"
                [itemSeleccionado]="personajeSeleccionadoIndex"
                (nuevoItemSeleccionadoEvent)="setpersonajeSeleccionadoIndex($event)">
              </app-ordenador>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
